*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    width: 50px;
}
body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    --sb-width: 5rem;
}

body.sb-expanded{
    --sb-width:12rem;
}

aside{
    width: var(--sb-width);
    background-color: black;
    position: fixed;
    inset: 0 auto 0 0;
    padding: 1rem;
    transition: 
        width 0.3s ease-in-out;
}

nav{
    height: 100%;
}


nav ul{
    height: 85%;
    display: flex;
    flex-flow: column;
    gap: 1.25rem;
}

nav a{
    display: flex;
    gap: 0.625rem;
    margin-left: 10px;
    color: white;
    text-decoration:  none;
    border-radius: 5px;
    padding: 8px;
    transition: 
        background-color 0.5s ease-in-out;
}

li.auth{
    margin-top: auto;
    margin-left: -7px;
    font-size: 1rem;
}

li.login{
    margin-left: -7px;
    font-size: 1rem;
}
.input_box{
    padding: 8px;
    gap: 1rem;
}
.input{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.subjects{
    display: flex;
    margin-top: -10px;
    padding: 5px;
}

.button{
    padding: 7px;
    /* display: flex; */
    background-color: red;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    font-weight: bolder;
    border:none;
    border-radius: 5px;
    margin-top: 8px;
}
.button:hover{
    cursor: pointer;;
    background-color: #b3160e;
}
/* .user_log{
    width: 100px;
} */

nav span{
    opacity: 0;
    visibility: hidden;
}

.sb-expanded nav span{
    opacity: 1;
    visibility: visible;
}

a:hover{
    background-color: #4d4b4d;
}

main{
    margin-left: 5rem;
    padding: 1rem 2rem;
    transition:
        margin-left 0.2s ease-in-out;
}

@media(min-width: 768px){
    main{
        margin-left: var(--sb-width);
    }
}
@media(max-width : 768px){
    .input{
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
}


